*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
body{
    background-color: blue;

}
ul{
    display: flex;
    margin-left: 20px;
}
li{
    margin:25px;
    list-style: none;
    
}
a{
    color:black;
    font-weight: 600;
    font-size: 28px;
    
}